<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangrove Petenggoran</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#beranda">Beranda</a></li>
            <li><a href="#peta">Peta</a></li>
            <li><a href="#tentangkami">Tentang Kami</a></li>
        </ul>
    </nav>

    <div class="jumbotron">
        <h1>Selamat Datang di Mangrove Petenggoran</h1>
        <p>Sarana Edukasi Lingkungan di Lampung</p>
        <img src="assets/jumbotron.jpeg" alt="Pohon Mangrove">
    </div>

    <main>
        <article class="article-section" id="beranda">
            <div class="text">
                <h1>Hutan Mangrove Petengoran</h1>
                <p>Kawasan konservasi alam mangrove seluas 113 hektar yang dimanfaatkan <br> untuk edukasi dan pariwisata alam.</p>
                <h2>Apa itu mangrove?</h2>
                <p>Mangrove adalah tumbuhan yang tumbuh <br> 
                    di wilayah pesisir, terutama di zona <br>
                    intertidal atau wilayah pasang surut. <br>
                    Tumbuhan ini memiliki kemampuan <br>
                    khusus untuk tumbuh dan bertahan hidup <br>
                    di lingkungan yang berkadar garam tinggi <br>
                    dan terkena erosi. Mangrove memiliki <br>
                    sistem akar yang unik, yaitu akar tunjang <br>
                    yang mampu menjaga tumbuhan agar <br>
                    tetap tegak meskipun terkena gelombang <br>
                    dan pasang surut yang tinggi. Selain itu, <br>
                    mangrove juga berfungsi sebagai habitat <br>
                    bagi berbagai jenis hewan laut dan <br> 
                    sebagai pelindung pantai dari abrasi. <br>
                    Kehadiran mangrove sangat penting <br>
                    untuk menjaga keberlangsungan <br>
                    lingkungan pesisir dan kehidupan <br>
                    manusia yang tinggal di sekitarnya.</p>
            </div>
            <div class="image">
                <img src="assets/pohon.png" alt="Pohon Mangrove">
            </div>
        </article>

        <section class="konten">
            <div class="content">
                <h2>Mengapa Hutan Mangrove Petengoran?</h2>
                <p>Kelebihan Mengunjungi Hutan Mangrove Petengoran</p>
                <img src="assets/image1.jpeg" alt="gambar cerita">
            </div>
            <section class="container">
            <div class="container-kelebihan">
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="assets/icon/cerita.png" alt="hutan mangrove">
                    </div>
                    <h3>Keanekaragaman Hayati</h3>
                    <p>Hutan Mangrove Petengoran <br>
                        adalah rumah bagi beragam <br>
                        spesies unik termasuk burung <br>
                        laut, kepiting, ikan, dan <br>
                        masih banyak lagi. Dengan <br>
                        mengunjungi hutan ini, Anda <br>
                        akan memiliki kesempatan <br>
                        untuk menyaksikan <br>
                        keanekaragaman hayati yang <br>
                        luar biasa serta belajar lebih <br>
                        banyak tentang ekosistem mangrove.</p>
                </div>
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="assets/icon/cerita.png" alt="gambar cerita">
                    </div>
                    <h3>Edukasi Lingkungan</h3>
                    <p>Kunjungan ke Hutan Mangrove <br>
                        Petengoran tidak hanya <br>
                        menyenangkan, tetapi juga <br>
                        edukatif. Kami menawarkan tur <br>
                        yang dipandu oleh para ahli <br>
                        lingkungan yang akan <br>
                        memberikan wawasan <br>
                        mendalam tentang pentingnya <br>
                        menjaga ekosistem mangrove <br>
                        dan pentingnya pelestarian <br>
                        lingkungan bagi <br>
                        keberlangsungan hidup kita.</p>
                </div>
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="assets/icon/game.png" alt="gambar aktivitas ekowisata">
                    </div>
                    <h3>Aktivitas Ekowisata</h3>
                    <p>Selain berjalan-jalan santai di <br>
                        sepanjang jembatan kayu yang <br>
                        mengelilingi hutan mangrove, <br>
                        kami juga menawarkan <br>
                        berbagai aktivitas ekowisata <br>
                        yang menarik seperti <br>
                        pengamatan burung, jelajah <br>
                        dengan perahu kano, dan <br>
                        program penanaman mangrove <br>
                        bagi yang ingin berpartisipasi <br>
                        dalam upaya pelestarian alam.</p>
                </div>
            </div>
            <div class="garis">
                <hr>
            </div>
        </section>
        </section>

        <section class="gallery">
            <div class="image-grid">
                <img src="assets/image1.jpeg" alt="Image 1">
                <img src="assets/image2.jpeg" alt="Image 2">
                <img src="assets/image3.jpeg" alt="Image 3">
                <img src="assets/image4.jpeg" alt="Image 4">
                <img src="assets/image5.jpeg" alt="Image 5">
                <img src="assets/image6.jpeg" alt="Image 6">
            </div>
        </section>

        <section class="location" id="peta">
            <div class="map">
                <img src="assets/lokasi.png" alt="Map">
            </div>
            <div class="location-text">
                <h2>Informasi Praktis</h2>
                <p>Lokasi: <br>
                    Hutan Mangrove Petengoran <br>
                    terletak di Desa Petengoran, <br>
                    Kecamatan Sekampung Udik, <br>
                    Kabupaten Lampung Tengah, <br>
                    Provinsi Lampung.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="social-media">
            <a href="https://www.youtube.com"><img src="assets/icon/youtube.png" alt="YouTube"></a>
            <a href="https://www.twitter.com"><img src="assets/icon/twitter.png" alt="Twitter"></a>
            <a href="https://www.facebook.com"><img src="assets/icon/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="assets/icon/instagram.png" alt="Instagram"></a>
        </div>
        <p>Hak Cipta © 2024 Universitas Lampung Semua Hak Dilindungi</p>
    </footer>

    <script src="scripts.js"></script>
</body>
</html>
