<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangrove Petenggoran</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="#beranda">Beranda</a></li>
            <li><a href="#peta">Peta</a></li>
            <li><a href="#tentangkami">Tentang Kami</a></li>
        </ul>
    </nav>

    <div class="jumbotron">
        <img src="../assets/jumbotron.jpeg" alt="Pohon Mangrove">
    </div>

    <main>
        <h1>Hutan Mangrove Petenggoran <br> Sarana Edukasi Lingkungan di Lampung</h1>
<p>Kawasan konservasi alam mangrove seluas 113 hektar yang dimanfaatkan <br> untuk edukasi dan pariwisata alam.</p>

<div class="container">
  <div class="text-content">
    <section class="definisi">
      <div>
        <h2>Apa itu mangrove?</h2>
        <p>Mangrove adalah tumbuhan yang tumbuh di wilayah pesisir, terutama di zona intertidal atau <br>
          wilayah pasang surut. Tumbuhan ini memiliki kemampuan khusus untuk tumbuh dan bertahan <br>
          hidup di lingkungan yang berkadar garam tinggi dan terkena erosi. Mangrove memiliki sistem <br>
          akar yang unik, yaitu akar tunjang yang mampu menjaga tumbuhan agar tetap tegak meskipun <br>
          terkena gelombang dan pasang surut yang tinggi. Selain itu, mangrove juga berfungsi sebagai <br>
          habitat berbagai jenis hewan laut dan sebagai pelindung pantai dari abrasi. Kehadiran mangrove <br>
          sangat penting untuk menjaga keberlangsungan lingkungan pesisir dan kehidupan manusia yang <br>
          tinggal di sekitarnya.</p>
      </div>
    </section>
  </div>
  <div class="image">
    <img src="../assets/pohon.png" alt="Pohon Mangrove">
  </div>
</div>         

        <section class="kelebihan">
            <div class="container-kelebihan">
                <h2>Mengapa Hutan Mangrove Petengoran?</h2>
            </div>
            <div class="container-kelebihan-detail">
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="../assets/icon/tree.svg" alt="keanekaragaman hayati" width="55" height="55">
                    </div>
                    <h3>Keanekaragaman Hayati</h3>
                    <p>Hutan Mangrove Petengoran adalah rumah bagi beragam spesies unik termasuk burung laut, kepiting, ikan, dan masih banyak lagi. Dengan mengunjungi hutan ini, Anda akan memiliki kesempatan untuk menyaksikan keanekaragaman hayati yang luar biasa serta belajar lebih banyak tentang ekosistem mangrove.</p>
                </div>
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="../assets/icon/nature.svg" alt="edukasi lingkungan" width="55" height="55">
                    </div>
                    <h3>Edukasi Lingkungan</h3>
                    <p>Kunjungan ke Hutan Mangrove Petengoran tidak hanya menyenangkan, tetapi juga edukatif. Kami menawarkan tur yang dipandu oleh para ahli lingkungan yang akan memberikan wawasan mendalam tentang pentingnya menjaga ekosistem mangrove dan pentingnya pelestarian lingkungan bagi keberlangsungan hidup kita.</p>
                </div>
                <div class="content-kelebihan">
                    <div class="kelebihan-image">
                        <img src="../assets/icon/environment.svg" alt="aktivitas ekowisata" width="55" height="55">
                    </div>
                    <h3>Aktivitas Ekowisata</h3>
                    <p>Selain berjalan-jalan santai di sepanjang jembatan kayu yang mengelilingi hutan mangrove, kami juga menawarkan berbagai aktivitas ekowisata yang menarik seperti pengamatan burung, jelajah dengan perahu kano, dan program penanaman mangrove bagi yang ingin berpartisipasi dalam upaya pelestarian alam.</p>
                </div>
            </div>
            <div class="garis">
                <hr />
            </div>
        </section>
        

        <section class="gallery">
            <div class="image-grid">
                <img src="../assets/image1.jpeg" alt="Image 1">
                <img src="../assets/image2.jpeg" alt="Image 2">
                <img src="../assets/image3.jpeg" alt="Image 3">
                <img src="../assets/image4.jpeg" alt="Image 4">
                <img src="../assets/image5.jpeg" alt="Image 5">
                <img src="../assets/image6.jpeg" alt="Image 6">
            </div>
        </section>

        <section class="location" id="peta">
            <div class="map">
                <img src="../assets/lokasi.png" alt="Map">
            </div>
            <div class="location-text">
                <h2>Informasi Praktis</h2>
                <br>
                <p>Lokasi: <br>
                    Hutan Mangrove Petengoran <br>
                    terletak di Desa Petengoran, <br>
                    Kecamatan Sekampung Udik, <br>
                    Kabupaten Lampung Tengah, <br>
                    Provinsi Lampung.</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="social-media">
            <a href="https://www.youtube.com"><img src="../assets/icon/youtube.svg" alt="YouTube"></a>
            <a href="https://www.twitter.com"><img src="../assets/icon/twitter.svg" alt="Twitter"></a>
            <a href="https://www.facebook.com"><img src="../assets/icon/facebook.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="../assets/icon/instagram.svg" alt="Instagram"></a> 
        </div>
        <p>Hak Cipta © 2024 Universitas Lampung Semua Hak Dilindungi</p>
    </footer>

    <script src="../scripts/scripts.js"></script>
</body>
</html>
