<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangrove Petengoran</title>
    <link rel="stylesheet" href="../styles/kontak.css" />
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">Beranda</a></li>
        <li><a href="peta.html">Peta</a></li>
        <li><a href="tentang.html">Tentang</a></li>
        <li><a href="kontak.html">Kontak</a></li>
      </ul>
    </nav>

    <main>
          <section id="tim-pengembang">
            <h2>Tim Pengembang</h2>
            <div class="card team-container">
              <!-- Profil Pengembang 1 -->
              <div class="team-member">
                <img src="/assets/profil/echa.jpg" alt="Foto Echa" />
                <h3>Echa Andrea Gustiar</h3>
                <p>2115061064</p>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/echaandrea" target="_blank" rel="noopener">
                    <img src="/assets/icon/linkedin.svg" alt="LinkedIn" />
                  </a>
                  <a href="https://github.com/echaandrea" target="_blank" rel="noopener">
                    <img src="/assets/icon/github.svg" alt="GitHub" />
                  </a>
                  <a href="https://instagram.com/echaandrea" target="_blank" rel="noopener">
                    <img src="/assets/icon/instagramp.svg" alt="Instagram" />
                  </a>
                </div>
              </div>
    
              <!-- Profil Pengembang 2 -->
              <div class="team-member">
                <img src="/assets/profil/rona.jpg" alt="Foto Rona" />
                <h3>Rona Aprilia</h3>
                <p>2115061027</p>
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/rona-aprilia/" target="_blank" rel="noopener">
                    <img src="/assets/icon/linkedin.svg" alt="LinkedIn" />
                  </a>
                  <a href="https://github.com/ronaap" target="_blank" rel="noopener">
                    <img src="/assets/icon/github.svg" alt="GitHub" />
                  </a>
                  <a href="https://www.instagram.com/ronaprr_?igsh=MXB5OTA1N2NhaDQ2MA==" target="_blank" rel="noopener">
                    <img src="/assets/icon/instagramp.svg" alt="Instagram" />
                  </a>
                </div>
              </div>
    
              </div>
            </div>
          </section>
    </main>

    <footer>
        <div class="social-media">
          <a href="https://www.youtube.com"><img src="../assets/icon/youtube.svg" alt="YouTube" /></a>
          <a href="https://www.twitter.com"><img src="../assets/icon/twitter.svg" alt="Twitter" /></a>
          <a href="https://www.facebook.com"><img src="../assets/icon/facebook.svg" alt="Facebook" /></a>
          <a href="https://www.instagram.com"><img src="../assets/icon/instagram.svg" alt="Instagram" /></a>
        </div>
        <p>Hak Cipta © 2024 Universitas Lampung Semua Hak Dilindungi</p>
      </footer>
    </body>
  </html>
  