<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangrove Petengoran</title>
    <link rel="stylesheet" href="../styles/peta.css" />
</head>

<body>
    <nav class="navbar">
    <ul>
        <li><a href="index.html">Beranda</a></li>
        <li><a href="peta.html">Peta</a></li>
        <li><a href="tentangkami.html">Tentang Kami</a></li>
    </ul>
    </nav>

    <main>
        <section class="hero">
        <div class="hero-content">
            <h1>Peta</h1>
        </div>
    </section>

    <section class="map-section">
        <h2>Layer Peta Mangrove Petengoran Desa Gebang</h2>
        <div class="map">
            <h3>Base Map</h3>
            <img src="../assets/peta/basemap.png" alt="Base Map">
        </div>
        <div class="map">
            <h3>Peta Jumlah Pohon</h3>
            <img src="../assets/peta/jumlahpohon.png" alt="Peta Jumlah Pohon">
        </div>
        <div class="map">
            <h3>Peta Kerapatan</h3>
            <img src="../assets/peta/kerapatanmangrove.png" alt="Peta Kerapatan">
        </div>
        <div class="map">
            <h3>Peta Jalan</h3>
            <img src="../assets/peta/jalan.png" alt="Peta Jalan">
        </div>
        <div class="map">
            <h3>Peta Bangunan</h3>
            <img src="../assets/peta/Bangunan.png" alt="Peta Bangunan">
        </div>
        <div class="map">
            <h3>Peta Hidup Mati</h3>
            <img src="../assets/peta/hidupmati.png" alt="Peta Hidup Mati">
        </div>
    </section>

    <footer>
        <div class="social-media">
            <a href="https://www.youtube.com"><img src="../assets/icon/youtube.svg" alt="YouTube"></a>
            <a href="https://www.twitter.com"><img src="../assets/icon/twitter.svg" alt="Twitter"></a>
            <a href="https://www.facebook.com"><img src="../assets/icon/facebook.svg" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="../assets/icon/instagram.svg" alt="Instagram"></a> 
        </div>
        <p>Hak Cipta © 2024 Universitas Lampung Semua Hak Dilindungi</p>
    </footer>
</body>
</html>
