<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangrove Petengoran</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  
  <body>
    <nav class="navbar">
        <ul>
            <li><a href="#beranda">Beranda</a></li>
            <li><a href="#peta">Peta</a></li>
            <li><a href="#tentangkami">Tentang Kami</a></li>
        </ul>
    </nav>

    <section class="hero">
      <div class="hero-content">
        <h1>Tentang Kami</h1>
      </div>
    </section>
    <section class="about">
      <h2>Sejarah Singkat Hutan Mangrove Petengoran: Dari Tambak Terlantar Menjadi Ekowisata Populer</h2>
      <p>Hutan Mangrove Petengoran, yang kini menjadi ekowisata <br>
        populer di Lampung, memiliki sejarah yang menarik. Dahulu, <br>
        kawasan ini merupakan area tambak yang terbengkalai. Kondisi <br>
        ini memicu tingginya kasus malaria di Desa Gebang pada tahun <br>
        2011.

        Tergerak oleh situasi tersebut, sekelompok warga bersama LSM <br>
        Mitra Bentala memulai upaya pelestarian hutan mangrove di <br>
        tahun 2010. Upaya ini didasari oleh beberapa alasan, yaitu: <br>
        Menurunkan angka kasus malaria. Hutan mangrove diketahui <br>
        efektif dalam mengendalikan nyamuk Anopheles, pembawa <br>
        penyakit malaria.
        Mencegah abrasi pantai. Akar pohon mangrove yang kuat <br>
        membantu menahan erosi tanah dan garis pantai. <br>
        Meningkatkan ekonomi masyarakat. Hutan mangrove dapat <br>
        dikembangkan sebagai objek wisata dan sumber <br>
        penghasilan bagi masyarakat sekitar.
        
        Pada tahun 2016, Hutan Mangrove Petengoran resmi menjadi <br>
        ekowisata yang dikelola oleh Badan Usaha Milik Desa (BUMDes) <br>
        Makmur Jaya. Sejak saat itu, Hutan Mangrove Petengoran terus <br>
        berkembang menjadi salah satu destinasi wisata alam yang <br>
        populer di Lampung.</p>
    </section>
    <section class="species">
      <h2>Jenis - Jenis Mangrove Yang Terdapat Pada Kawasan Mangrove Petengoran</h2>
      <div class="species-grid">
        <div class="species-item">
          <img src="../assets/jenis/apihitam.png" alt="api - api hitam" />
          <p>api - api hitam (Avicennia alba)</p>
        </div>
        <div class="species-item">
          <img src="../assets/jenis/waru.png" alt="waru" />
          <p>waru (Hibiscus tiliaceus)</p>
        </div>
        <div class="species-item">
          <img src="../assets/jenis/minyak.png" alt="bakau minyak" />
          <p>bakau minyak (Rhizophora apiculata)</p>
        </div>
        <div class="species-item">
          <img src="../assets/jenis/kurap.png" alt="bakau kurap" />
          <p>bakau kurap (Rhizophora mucronata)</p>
        </div>
        <div class="species-item">
          <img src="../assets/jenis/kecil.png" alt="bakau kecil" />
          <p>bakau kecil (Rhizophora stylosa)</p>
        </div>
      </div>
    </section>
    <footer>
      <p>Hak Cipta © 2024 Universitas Lampung<br />Semua Hak Dilindungi</p>
      <div class="social-media">
        <a href="#"><img src="../assets/jenis/facebook-icon.png" alt="Facebook" /></a>
        <a href="#"><img src="../assets/jenis/twitter-icon.png" alt="Twitter" /></a>
        <a href="#"><img src="../assets/jenis/instagram-icon.png" alt="Instagram" /></a>
        <a href="#"><img src="../assets/jenis/youtube-icon.png" alt="YouTube" /></a>
      </div>
    </footer>
  </body>
</html>